/*iphone size 390*/
@media screen and (min-width: 390px) and (max-width: 412px) {
/*menu links*/
.hamburger {
  width: 0;
  visibility: hidden;  /*overflow: hidden;*/
  transition: opacity 6s 0.1s, height 1s 20s;  /* 0.3s delay */
  }


.bigger-header {
  font-size: 30px;
  text-align: center;
  margin-top: -300px;
}

/*header & child sections*/
.bigger-header.move-down {
  margin-top: 15px; /* adjust this value based on the height of your menu */
  transition: margin-top 0.1s ease-in-out;

}
.body-color {
  background-color: rgb(164, 146, 146);
}

.nav-hidden {
  width: 0;
  visibility: hidden;
}

/*hamburger visibility*/
.hamburger-icon {
  font-size: 28px;
  cursor: pointer;
  width: fit-content;
  }
  
nav ul {
  display:flex;
  flex-direction: column;
  align-items:self-start;
  background-color: rgb(164, 146, 146);
  row-gap: .5em;
  padding-left: 5.5em;
}

nav li {
  display: flex;
  list-style: none;
  font-size:  1.5em;
  text-align: center;
  color: black;
  padding: 1em 1em 1em 1em;
}
     
.main-content {
  margin: 1em 1em 1em 1em;
}

/*about section*/
#about {
  background-color: rgb(255, 255, 255);
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  width:100%;
  margin: 15em auto 15em auto;
  padding: 0 2px 0 2px;
  font-size: 18px;

}

#services td {
  text-align: center;
  /*border-top: solid 1px black;
  border-bottom: solid 1px black;*/
  border-top:solid 1px black;
  width: auto;

}

table, th, td {
  border:solid 1px black;
  
}
}